%logo{
    width: 230px;
    height: 80px;
}

%footer{
    text-align: center;
    background-color: black;
    margin-bottom: 0px;
}

%pie-img{
    width: 100px;  
    margin-top: 10px;
    margin-left: 10px;
}

%pie-descripcion{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}